<!DOCTYPE html>
<head>
    <title>Statistics</title>
</head>
<body>
    <table>
        <thead>
        <td>User Count</td><td>Buy Clicks</td><td>Conversion Ratio</td><td>Conversion Rate</td>
        </thead>
        <tbody>
        <tr>
            <td>{{ stat1_visit }}</td><td>{{ stat1_buy }}</td><td>{{ purchase_ratio1 }}</td><td>{{ conversion_rate1 }}%</td>
        </tr>
        <tr>
            <td>{{ stat2_visit }}</td><td>{{ stat2_buy }}</td><td>{{ purchase_ratio2 }}</td><td>{{ conversion_rate2 }}%</td>
        </tr>

        </tbody>
    </table>
</body>